body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

.vg-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  background: #f8f8f8;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}
