:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Iosevka Web", sans-serif;
}

a:hover {
  text-decoration: underline;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #333;
}

.vg-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.vg-page {
  max-width: 1140px;
  width: 100%;
  display: flex;
  background: #F7F8F6;
}

.vg-page-content {
  width: calc(100% - 300px);
}

.vg-main {
  display: flex;
  min-height: calc(100vh - 216px)
}

.vg-main-content {
  flex: 1;
  padding: 0 50px;
}

.vg-sidebar {
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100vh;
  background: #367DCB;
}

a {
  color: #333;
  text-decoration: none;
}

/* HEADER */
.vg-header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.vg-header__logo {
  padding: 18px;
}

.vg-header__logo a {
  display: inline-block;
}

.vg-header__logo img {
  width: 140px;
}

.vg-menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex: 1;
  font-size: 24px;
}

.vg-menu-nav__item {
  margin: 0 15px;
  white-space: nowrap;
}

.vg-menu-nav__item_active {
  font-weight: 700;
}
/* END HEADER */

/* FOOTER */
footer {
  height: 100px;
}
/* END FOOTER */

/* LIST */
.vg-posts-list {

}

.vg-posts-list-item {
  display: flex;
  padding-bottom: 40px;
}

.vg-posts-list-item__image {
  width: 200px;
}

.vg-posts-list-item__image img {
  width: 100%;
}

.vg-posts-list-item__content {
  flex: 1;
  padding-left: 30px;
}

.vg-posts-list-item__category {
  display: flex;
  align-items: center;
  height: 30px;
  background: #5E7181;
  color: #F7F8F6;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-weight: 700;
  padding: 0 6px;
  margin-bottom: 18px;
}

.vg-posts-list-item__title {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.vg-posts-list-item__title a {
  color: #367DCB;
}

.vg-posts-list-item__description {
}

.vg-posts-list-item-tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: -14px;
}

.vg-posts-list-item-tags__tag {
  position: relative;
  margin: 0 14px;
}

.vg-posts-list-item-tags__tag:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -14px;
  top: 2px;
  bottom: 2px;
  width: 2px;
  background-color: #367DCB;
}

.vg-posts-list-item-tags__tag a {
  font-family: var(--secondary-font);
  font-weight: 700;
  color: #367DCB;
}
/* END LIST */
