body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  padding-right: 300px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

.vg-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.vg-nav__item {
  padding: 0.5rem 1rem;
}

.vg-nav__item_active {
  background: #f8f8f8;
}

.vg-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: #f8f8f8;
  border-left: 1px solid #ddd;
  overflow-y: auto;
}
