{{- $post := .post }}
{{- $full := .full }}

{{ with $post }}
<div class="vg-post">
  <div class="vg-post__content">
    {{ with $post.Resources.GetMatch "cover.png" }}
    {{ $resized := .Fill "200x130" }}
    <div class="vg-post__image">
      <a href="{{ $post.RelPermalink }}">
        <img src="{{ $resized.RelPermalink }}" alt="{{ .Title }}">
      </a>
    </div>
    {{ end }}

    <div class="vg-post__summary">
      <div class="vg-post__category">
        <a href="javascript:void(0)">Категория</a>
      </div>

      <div class="vg-post__title">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </div>

      {{ if not $full }}
      <div class="vg-post__description">
        {{ .Summary }}
      </div>
      {{ end }}

      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </div>

  {{ if $full }}
  <div class="vg-post__text">
    {{ .Content }}
  </div>
  {{ end }}
</div>
{{ end }}
