<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div class="vg-page-wrapper">
    <div class="vg-page">
      <div class="vg-page-content">
        {{ partial "header.html" . }}

        <main class="vg-main">
          <div class="vg-main-content">
            {{ block "main" . }}{{ end }}
          </div>
        </main>

        <footer>
          {{ partial "footer.html" . }}
        </footer>
      </div>

      <div class="vg-sidebar">
        <div class="vg-sidebar__logo">
          <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" />
        </div>

        <div class="vg-sidebar__about">
          Привет, друг! Coding Overhead — это мой личный блог о&nbsp;современных технологиях и&nbsp;полезных утилитах.
        </div>

        <div class="vg-sidebar-tags">
          {{ range .Site.Taxonomies.tags.ByCount }}
          <div class="vg-sidebar-tags__tag">
            <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
          </div>
          {{ end }}
        </div>

        <div class="vg-sidebar-link">
          <a href="{{ .Site.BaseURL }}rss.xml">RSS</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
